
BlackHoleSim_Final/\.metadata/\.lock

BlackHoleSim_Final/\.metadata/\.mylyn/\.taskListIndex/segments_1

BlackHoleSim_Final/\.metadata/\.mylyn/\.taskListIndex/write\.lock

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/properties\.index

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.jdt\.ui\.prefs

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.context\.core\.prefs

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.monitor\.ui\.prefs

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.tasks\.ui\.prefs

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.prefs

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/http-cache\.lucene60/write\.lock

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history\.lucene60/_0\.cfe

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history\.lucene60/_0\.cfs

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history\.lucene60/_0\.si

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history\.lucene60/segments_1

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history\.lucene60/write\.lock

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/server-config\.json

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.jdt\.core/index\.db

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.m2e\.logback\.configuration/0\.log

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.m2e\.logback\.configuration/logback\.1\.9\.1\.20180912-1601\.xml

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.oomph\.setup/workspace\.setup

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.ui\.intro/introstate

BlackHoleSim_Final/\.metadata/\.plugins/org\.eclipse\.ui\.workbench/workingsets\.xml

BlackHoleSim_Final/\.metadata/version\.ini
